# This is the format for security keys that go in .env.
# IMPORTANT! Change these locally in .env, NOT in .env-example!
# .env-example will be published to GitHub, but your local .env will not.

# Django Config
DEBUG=True # Only set DEBUG=True for development, not in production

# You can generate a new Django secret key with these two lines of Python:
# from django.core.management.utils import get_random_secret_key
# print(get_random_secret_key())
DJANGO_SECRET_KEY=change-me-locally

# Database
POSTGRES_DB=make-up-a-name-for-the-database
# You need to set POSTGRES_HOST for the DB to run in Docker instead of trying to find a Unix socket
POSTGRES_HOST='db'
POSTGRES_USER=change-me-locally
POSTGRES_PASSWORD=change-me-locally

# Azure secrets (you need these to set up myBama authentication)
# You can get these from the Azure portal--see README for more.
AZURE_CLIENT_ID=xxxx
MICROSOFT_LOGIN_CLIENT_ID=same-as-azure-client-id
AZURE_SECRET=xxxx
AZURE_TENANT_ID='common'

# Allowed domains (email domains we allow into the app)
# Change the below example to reflect university student and faculty email domains
# Make sure to separate domains with a comma (no space!)
ALLOWED_DOMAINS='gmail.com,yahoo.com'

# Security settings

# Toggle in local environment (no need to include this in Azure since it is on by default there)
# Controls whether username/password Django login are disabled
FORCE_SOCIALACCOUNT_ONLY=False # Change to true to test production-like security settings

# Controls whether Django admins can log in with a username and password. If false, requires Microsoft auth.
# Toggle this to TRUE in Azure to create an emergency admin user (for example, if a faculty member gets locked out)
# Otherwise, keep it FALSE in Azure (it should be set to False in Azure by default).
# You can keep it as True in your local .env for testing.
ALLOW_PASSWORD_ADMIN_LOGIN=True

# Leave this as the Django default in local env, but can optionally change it in Azure
# to obfuscate the location of the Django admin endpoint
ADMIN_URL='admin/'
