# Ignore Python cache and compiled files
__pycache__/
*.pyc
pycache/
__pycache__/
backend/config/__pycache__/
*.pyc
db.sqlite3
.DS_Store
.env
backend/config/__pycache__/settings.cpython-311.pyc
backend/config/__pycache__/urls.cpython-311.pyc
my_notes.md